@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .all-\[unset\] {
      all: unset;
    }
  }
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: medium;
    scroll-behavior:smooth;
  }

